html(lang="ru")
    head 
        meta(charset="utf-8")
        title Pug
        style
             include css/output.css
    body(class="h-screen")
        div(class="flex flex-col h-screen")
           header(class="bg-lime-400 p-6")
               h1(class="text-pink-800 text-3xl") Интернет магазин
           main(class="grow")
               div(class="grid grid-cols-6 gap-6")
                  - var cards = [{title:"товар 1", price:5000, path_img:"img/2.jpg", sale:trou},{title:"товар 2", price:2000, path_img:"img/2.jpg", sale:false}];
                  each card in cards
                     div(class="p-2")
                        img(src=card.path_img, alt="")
                        if card.sale == trou
                            p(class="text-red-700") скидка!
                        p=card.title
                        p=card.price
           footer(class="bg-lime-400 p-6")
               p &copy; Название компании, 2025
        
        